nav {
    background-color: lightgray;
    font-size: 2em;
    margin-bottom: 20px;
    padding: 8px;
}

section.post {
    background-color: lightgray;
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
}

section.post>img {
    width: 300px;
    display: inline-block;
    margin-right: 20px;
}

section.post>h1 {
    display: inline-block;
}

input.button-disabled {
    color: gray;
    background-color: lightgray;
}
