nav {
    background-color: lightgray;
    font-size: 2em;
    margin-bottom: 20px;
    padding: 8px;
}

section.post {
    background-color: lightgray;
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
}

section.post>img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

.title {
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    margin-right: 8px;
}

.votes {
    display: inline-block;
}

.author {
    font-weight: bold;
    margin-bottom: 16px;
}

.comments {
    margin-top: 16px;
}

.content {
    font-size: 1.2em;
}

input.button-disabled {
    color: gray;
    background-color: lightgray;
}

textarea.invalid,
input.invalid {
    border-color: red;
}

input.filter {
    margin-right: 20px;
}
